.outer, .shrink {
    height: auto;
    transform-origin: top;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color:white;
}
.blueprint {
    position: relative;
    width: 1350px;
    height: 600px;
    background-image: url('../../images/old-cement-wall-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid black;
}
.leveling-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    border: 3px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.leveling-up {
    width: 50px;
    height: 50px;
    top: 50px;
    left: 955px;
    background-color: rgb(181, 113, 61);
}
.leveling-down {
    width: 50px;
    height: 50px;
    top: 110px;
    left: 955px;
    background-color: rgb(181, 113, 61);
}
.leveling-button:hover {
    transform: scale(1.05);
}
.room {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    background-image: url('../../images/plank_texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.room:hover {
    transform: scale(1.05);
}
.nonclickable {
    cursor: default;
    opacity: 0.2;
    transition: opacity 0.5s ease-in;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../images/blue-wooden-textured-flooring-background.jpg");
}
.nonclickable:hover {
    opacity: 1;
    transform: none;
}
.r133, .r132, .r131, .r130, .r129, .r128, .r127 {
    width: 140px;
    height: 140px;
    top: 20px;
}
.r133{
    left: 20px;
}
.r132{
    left: 170px;
}
.r131{
    left: 320px;
}
.r130 {
    left: 470px;
}
.r129 {
    left: 620px;
}
.r128 {
    left: 770px;
}
.r127 {
    width:300px;
    left: 1030px;
    font-size: 25px;
}
.placc, .placc2 {
    position: absolute;
    display: flex;
    background-color: #e8d5c5;
    border: 10px solid black;
    border-left: 0px solid black;
}
.placc {
    width: 600px;
    height: 225px;
    top: 190px;
    left: 0px;
}
.placc2 {
    width: 430px;
    height: 195px;
    top: 425px;
    left: 0px;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
}
.aula {
    width: 290px;
    height: 240px;
    top: 180px;
    left: 620px;
}
.r114 {
    width: 300px;
    height: 240px;
    top: 180px;
    left: 1030px;
}
.r111, .r112, .r113, .porta, .bufe {
    width: 140px;
    height: 140px;
    top: 440px;
}
.r111 {
    left: 890px;
}
.r112 {
    left: 1040px;
}
.r113 {
    left: 1190px;
}
.porta {
    left: 740px;
}
.bufe {
    left: 450px;
}
.kalap {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    left: 1320px;
    top: -70px;
    transform: rotate(30deg);
    background-image: url("../../images/kalap.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.r217 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 780px;
}
.r216 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 640px;
}
.r213 {
    width: 110px;
    height: 140px;
    top: 20px;
    left: 520px;
}
.r212 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 380px;
}
.r209 {
    width: 110px;
    height: 140px;
    top: 20px;
    left: 260px;
}
.r208 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 100px;
}
.r207 {
    width: 70px;
    height: 140px;
    top: 20px;
    left: 20px;
}
.r223 {
    width: 300px;
    height: 140px;
    top: 20px;
    left: 1030px;
    font-size: 25px;
}
.r230 {
    width: 300px;
    height: 120px;
    top: 180px;
    left: 1030px;
}
.r231 {
    width: 300px;
    height: 120px;
    top: 310px;
    left: 1030px;
}
.r232 {
    width: 300px;
    height: 130px;
    top: 450px;
    left: 1030px;
}
.r240 {
    width: 200px;
    height: 130px;
    top: 450px;
    left: 810px;
}
.r241 {
    width: 80px;
    height: 130px;
    top: 450px;
    left: 710px;
}
.r242 {
    width: 200px;
    height: 60px;
    top: 450px;
    left: 460px;
}
.r243 {
    width: 200px;
    height: 60px;
    top: 520px;
    left: 460px;
}
.r317 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 780px;
}
.r316 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 640px;
}
.r313 {
    width: 110px;
    height: 140px;
    top: 20px;
    left: 520px;
}
.r312 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 380px;
}
.r309 {
    width: 110px;
    height: 140px;
    top: 20px;
    left: 260px;
}
.r308 {
    width: 130px;
    height: 140px;
    top: 20px;
    left: 100px;
}
.r307 {
    width: 70px;
    height: 140px;
    top: 20px;
    left: 20px;
}
.r330 {
    width: 300px;
    height: 130px;
    top: 450px;
    left: 1030px;
    font-size:25px;
}
.r337 {
    width: 200px;
    height: 130px;
    top: 450px;
    left: 810px;
}
.r414, .r415, .r416, .r417, .r418, .r413, .r412, .r411 {
    width: 140px;
    height: 140px;
    top: 20px;
}
.r414 {
    left: 770px;
}
.r415 {
    left: 620px;
}
.r416 {
    left: 470px;
}
.r417 {
    left: 320px;
}
.r418 {
    left: 170px;
}
.r413 {
    left: 1030px;
    width: 80px;
}
.r412 {
    left: 1120px;
    width: 60px;
}
.r411 {
    left: 1190px;
}
